.filter-table {
  display: inline-flex;

  color: white;
}

.filter-table__year {
  flex: auto;
  margin: auto;
  padding-right: 10px;
}

.filter-table__month {
  width: 150px;
  margin: auto;
}

.filter-table__button {
  height: 30px;
  margin: auto;
}

.filter-table__button .icons--edit {
  margin-bottom: 2px;
}
