body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-content {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
}

.App-content__list {
  width: 100%;
  margin-top: 20px;
  margin-right: 10px;

  height: 100vh;
  overflow: auto;
}

.App-content #accountTabs-tab-1,
.App-content #accountTabs-tab-2 {
  color: black;
}

.App-content .active #accountTabs-tab-1,
.App-content .active #accountTabs-tab-2 {
  color: #9f8f75;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icons {
  width: 15px;
  height: 15px;
}

.icons--pdf {
  width: 20px;
  height: 20px;
}

.icons--search {
  margin-right: 5px;
  transform: rotate(90deg);

  width: 20px;
  height: 20px;
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-header button {
  margin-left: auto;
}

.modal-header .modal-title {
  color: #9f8f75;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-body .button-submit {
  margin-left: auto;
}

button.button-submit {
  display: block;
  margin-left: auto;

  background: #9f8f75;
  border-color: transparent;
  color: white;
  padding: 5px 10px;
  font-weight: lighter;
}

button.button-submit:hover {
  background: #493d31;
}

button {
  background-color: #9f8f75;
  border-color: transparent;
  transition: all 1s ease;
}

button:hover {
  background: #493d31;
  color: white;
  border-color: transparent;
}

button span {
  color: #9f8f75;
}
